/* Стили для выравнивания */

.flex-container {    
    display: flex;      
    flex-direction: row;
    flex-wrap: wrap;
    /* 
        Распределение места между элементами контейнера
        ------------------------------------------------------------
        stretch - обычное растягивание
        space-evenly - растянуть равномерно по всей ширине
        flex-end - группировать элементы последовательно от конца
        flex-start - группировать элементы последовательно с начала
    */
    justify-content: flex-start;    
    height: 400px;
    /* align-items: baseline; */    
}

.flex-center-container {    
    height: 400px;
    display: flex;      
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center
}

/* 
    Управление порядком элементов
    ----------------------------------------------------------------
    flex-element:first-child
    flex-element:last-child {
    flex-element:nth-child(4)
 */    

 .flex-element {
    order: 0;
    flex: 1 200px;
 }

 .e1 {
    align-self: flex-start;    
    flex: 1;
}

.e2 {
    flex: 2;    
}

.e3 {
    align-self: center;
    flex: 3;
}

.e4 {    
    flex: 4;
}

.e5 {
    align-self: flex-end;
    flex: 4;
}

/* Стили для центрирования */

.flex-center-element {
    
}
